/*先把整個頁面的邊距取消掉，然後背景色為灰色*/
body {
  margin: 0px;
  background: #e1e1e1;
}
/*設定背景顏色、高度和對齊方式，上方的區塊和下方的內容會有一點距離，所以開外邊界推開*/
#topBlock {
  background: #59a6ff;
  height: 75px;
  text-align: center;
  margin-bottom: 24px;
}
.bookMark {
  background: #59a6ff; /*背景顏色*/
  color: #00408b; /*字體顏色*/
  text-align: center; /*置中*/
  font-size: 24px; /*字體大小*/
  height: 75px; /*按鈕高度*/
  width: 220px; /*按鈕寬度*/
  border: none; /*取消框線*/
}

.select_bookMark {
  color: #ffffff;
  height: 70px; /*改變高度因為要扣底線的粗5px不然會凸出來*/
  border-bottom: solid 5px #0065d8; /*設定下底線的樣式、粗細、顏色*/
}

.inputName {
  padding-left: 50px;
  padding-top: 25px;
}
.InputTasksForm {
  width: 620px;
  margin: 0 auto;
}
.InputTask {
  height: 385px;
  background: #f2f2f2;
  text-align: left;
}
/*輸入框的縮排比文字還要裡面*/
.inputForm {
  padding-left: 75px;
}
/*輸入框去除框線和調整字體大小*/
.inputStyle {
  border: none;
  font-size: 16px;
}
/*日期匡要調整長寬，看起來比較順眼*/
.inputDateTime {
  height: 35px;
  width: 162px;
}
/*共同樣式，長、寬、字體大小、對齊、取消框線*/
.addButton {
  width: 310px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border: none;
}
/*分別設定按鈕顏色及字的顏色*/
.saveButton {
  background: #5fb16f9a;
  color: #ffffff;
}
.cancelButton {
  background: #e2667594;
  color: #fffffd;
}
.inputTaskTitle {
  width: 620px;
  height: 75px;
  background: #f2f2f2;
  margin: 0px auto;
  text-align: left;
  border-bottom: solid 3px #c8c8c8;
}
.taskTitle {
  background: #f2f2f2;
  border: none;
  height: 28px;
  width: 380px;
  font-size: 24px;
  margin: 25px;
}
/*要把勾選框變兩倍大，還要距離左邊界一些距離*/
.taskChk {
  margin-left: 20px;
  zoom: 2;
}
.icon {
  margin-left: 20px;
}

.icon_edit {
  color: #4a90e2;
}
#addTask {
  width: 620px;
  height: 65px;
  font-size: 24px;
  color: #c8c8c8;
  border: 2px solid #c8c8c8;
  border-radius: 5px;
}
/*加上刪除線*/
.complete {
  text-decoration: line-through;
  color: #9b9b9b;
}
/*更換背景顏色*/
.important {
  background: #fff2dc;
}
/*更換icon顏色*/
.iconImportant {
  color: #f5a623;
}
/* //事項框框的樣式 */
.list {
  background: #f2f2f2;
  height: 100px;
  width: 620px;
  border-radius: 5px;
  text-align: left;
}

/* //要離上面20px */
.listBlock {
  margin-top: 20px;
}
.listIcon {
  color: #757575;
  margin-top: -15px;
  margin-left: 25px;
  font-size: 16px;
}
.countText {
  margin: 5px;
  text-align: left;
  font-size: 24px;
  color: #c8c8c8;
}
